/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}*/




/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (max-width: 600px) {
    small-size-card-body {
        width: 52%;
        padding-left: 24px;
    }
}

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }

    body {
        font-family: 'Cairo';
        font-size: 14px;
        font-weight: 400;
        background: #ffffff;
        color: #000000;
    }

    div {
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
        margin-bottom: 0px;
    }

    p {
        font-size: 16px;
        line-height: 1.7;
        font-weight: 400;
        color: #828282;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }

        p a {
            display: inline;
            position: relative;
            color: inherit;
            border-bottom: solid 1px #ffa07f;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

    a, a:hover, a:visited, a:active, a:link {
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }

    p a:active {
        position: relative;
        color: #FF6347;
    }

    p a:hover {
        color: #FFFFFF;
        background: #ffa07f;
    }

        p a:hover::after {
            opacity: 0.2;
        }

    ::selection {
    }

    p::selection {
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Cairo';
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }

        h1::selection,
        h2::selection,
        h3::selection,
        h4::selection,
        h5::selection,
        h6::selection {
        }

    /*.form-control {
    color: #db5246;
}*/
    .black-text {
        color: black;
    }

    .list-text {
        padding-bottom: 16px;
    }

    section {
        display: block;
        position: relative;
        box-sizing: border-box;
    }

    .clear {
        clear: both;
    }

    .clearfix::before, .clearfix::after {
        content: "";
        display: table;
    }

    .clearfix::after {
        clear: both;
    }

    .clearfix {
        zoom: 1;
    }

    .float_left {
        float: left;
    }

    .float_right {
        float: right;
    }

    .trans_200 {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .trans_300 {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .trans_400 {
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .trans_500 {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .fill_height {
        height: 100%;
    }

    .super_container {
        width: 100%;
        overflow: hidden;
    }

    .prlx_parent {
        overflow: hidden;
    }

    .prlx {
        height: 130% !important;
    }

    .nopadding {
        padding: 0px !important;
    }

    .button {
        display: inline-block;
        background: #0e8ce4;
        border-radius: 5px;
        height: 48px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .button a {
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 48px;
            color: #FFFFFF;
            padding-left: 35px;
            padding-right: 35px;
        }

        .button:hover {
            opacity: 0.8;
        }

    .btn-language-dorpdown {
        background-color: white;
        border-radius: 20px;
        border: 1px solid;
        border-color: #cfdbe7;
    }

    .horizental-card-body {
        padding-right: 53px;
        border: 0px solid;
    }


    list-unstyled ul li {
        padding-bottom: 12px;
    }

        list-unstyled ul li a {
            color: black;
        }


    .viewed {
        padding-top: 51px;
        padding-bottom: 60px;
        background: #ffffff;
    }

    .bbb_viewed_title_container {
        border-bottom: solid 1px #dadada;
    }

    .bbb_viewed_title {
        margin-bottom: 14px;
    }

    .bbb_viewed_nav_container {
        position: absolute;
        left: -5px;
        bottom: 14px;
    }

    .bbb_viewed_nav {
        display: inline-block;
        cursor: pointer;
    }

        .bbb_viewed_nav i {
            color: #dadada;
            font-size: 28px;
            padding: 5px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

        .bbb_viewed_nav:hover i {
            color: #606264;
        }

    .bbb_viewed_prev {
        margin-right: 15px;
    }

    .best_sellers_prev {
        margin-right: 15px;
    }

    .new_products_prev {
        margin-right: 15px;
    }

    .bbb_viewed_slider_container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .bbb_viewed_item {
        width: 92%;
        background: #FFFFFF;
        border-radius: 2px;
        /*  padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;*/
    }

    .bbb_viewed_image {
        /*width: 115px;*/
        height: 210px;
    }

        .bbb_viewed_image img {
            display: block;
            max-width: 100%;
        }

    .bbb_viewed_content {
        width: 100%;
        margin-top: 25px;
    }

    .bbb_viewed_price {
        font-size: 16px;
        color: #000000;
        font-weight: 500;
    }

    .bbb_viewed_item.discount .bbb_viewed_price {
        color: #df3b3b;
    }

    .bbb_viewed_price span {
        position: relative;
        font-size: 12px;
        font-weight: 400;
        color: rgba(0,0,0,0.6);
        margin-left: 8px;
    }

        .bbb_viewed_price span::after {
            display: block;
            position: absolute;
            top: 6px;
            left: -2px;
            width: calc(100% + 4px);
            height: 1px;
            background: #8d8d8d;
            content: '';
        }

    .bbb_viewed_name {
        margin-top: 3px;
    }

        .bbb_viewed_name a {
            font-size: 14px;
            color: #000000;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .bbb_viewed_name a:hover {
                color: #0e8ce4;
            }

    .item_marks {
        position: absolute;
        top: 18px;
        left: 18px;
    }

    .item_mark {
        display: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
    }

    .item_discount {
        background: #df3b3b;
        margin-right: 5px;
    }

    .item_new {
        background: #0e8ce4;
    }

    .bbb_viewed_item.discount .item_discount {
        display: inline-block;
    }

    .bbb_viewed_item.is_new .item_new {
        display: inline-block;
    }

    .btn-addtocart {
        border-radius: 20px;
        color: #d7dfea;
        background-color: #0d6efd;
        border-color: #0d6efd;
        font-size: 12px;
    }

    .footer-container {
        background-color: #f8f8f8;
        padding-bottom: 20px;
    }

        .footer-container h3 {
            color: black;
        }

    .horizental-product-img {
        padding-left: 0px;
        width: 180px;
    }

    .search-box input {
        border-radius: 20px;
        height: 2.4em;
        background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E") no-repeat 95%;
        width: 250px;
    }

        .search-box input:focus {
            background: #fff;
            box-shadow: none;
        }

    .search-and-icons .user-icons div {
        padding-right: 1em;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: #1c1cdc;
    }

    .navbar .navbar-nav .nav-item {
        position: relative;
    }

    .navbar .navbar-nav .nav-underline::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #1c1cdc;
        width: 0%;
        content: "";
        height: 4px;
        transition: all 0.5s;
    }

    .navbar .navbar-nav .nav-item:hover::after {
        width: 100%;
    }

    .user-icons {
        font-size: 22px;
    }

    .badge-cart {
        font-size: 0.50em;
        position: absolute;
    }

    .container-top-nav {
        padding: 0px 50px 0 50px;
    }

    .left-nav {
        right: 37%;
        padding-top: 4px;
    }

    .btn-light:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #e4e8eb;
    }

    .hr-blurry {
        margin: 0.3rem 40px;
        color: inherit;
        background-color: currentColor;
        border: 0;
        opacity: 0.15;
    }

    .card {
        box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.23);
    }